In [2]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import os

# Folder containing your CSV files
folder_path = "C:/Users/meets/nse-benny/eod2/src/eod2_data/daily"  # <-- Change this to your actual folder path

# Target dates to look for
target_dates = pd.to_datetime([
    '2009-04-01', '2012-04-02', '2015-04-01',
    '2018-04-02', '2021-04-01', '2024-04-01'
])

# Initialize list to store results
summary_data = []

# Loop through all CSV files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)
        try:
            df = pd.read_csv(file_path)
            df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
            df = df[df['Date'].isin(target_dates)]
            for date in target_dates:
                row = df[df['Date'] == date]
                close_price = row['Close'].values[0] if not row.empty else None
                summary_data.append({
                    'Stock': filename,
                    'Date': date.strftime('%Y-%m-%d'),
                    'Close': close_price
                })
        except Exception as e:
            print(f"Error processing {filename}: {e}")

summary_df = pd.DataFrame(summary_data)

pivot_df = summary_df.pivot(index='Stock', columns='Date', values='Close')

print(pivot_df)

# pivot_df.to_csv("close_prices_summary.csv")  # Uncomment to save to CSV

Date            2009-04-01  2012-04-02  2015-04-01  2018-04-02  2021-04-01  \
Stock
20microns.csv         7.60       41.90       37.35       49.75       35.40
21stcenmgm.csv         NaN         NaN         NaN       35.40       13.70
360one.csv             NaN         NaN         NaN         NaN      327.25
3iinfoltd.csv          NaN         NaN         NaN         NaN         NaN
3mindia.csv         870.45     3761.25     7879.60    19973.90    29602.95
...                    ...         ...         ...         ...         ...
ztech_sme.csv          NaN         NaN         NaN         NaN         NaN
zuari.csv              NaN         NaN      252.10      495.60       91.30
zuariind.csv        143.50      498.30      100.65      176.70       83.60
zyduslife.csv        36.55      150.05      358.05      385.05      441.80
zyduswell.csv          NaN      399.80     1021.10     1215.45     1985.00

Date            2024-04-01
Stock
20microns.csv        144.4
21stcenmgm.csv        42.4
360one.csv           696.8
3iinfoltd.csv         42.9
3mindia.csv        30533.2
...                    ...
ztech_sme.csv          NaN
zuari.csv            184.3
zuariind.csv         336.5
zyduslife.csv        999.8
zyduswell.csv       1506.8

[2963 rows x 6 columns]

In [ ]:
df=pd.read_csv("close_prices_summary.csv")
df['Stock'] = df['Stock'].str.replace('.csv', '', case=False).str.upper()
# df.to_csv("FY3-CLOSE.csv",index=False)

In [31]:
df1 = pd.read_excel("Plain Vanilla L3.xlsx")
df1.head()

,Sr.No.,Accord Code,Company Name,Gross_Plus_CWIP,long term borrowing,Working Capital,BS_Share Capital,BS_Share Capital1,FH_Market Capitalization,PL_Net Sales,...,Gross_Plus_CWIP1,long term borrowing1,Working Capital1,CGross_Plus_CWIP_CONS,Clong term borrowing_CONS,CWorking Capital_CONS,CONS_BS_2,CONS_FH_1,CONS_PL_1,CONS_PL_2
0,1,117421,Butterfly Gandhimathi Appliances Ltd.,223.6650,11.5541,60.8537,17.8796,17.8796,993.479974,869.6381,...,220.921400,32.3044,44.304900,S,S,S,S,S,S,S
1,2,117214,Digispice Technologies Ltd.,206.2041,0.0000,42.6927,60.6985,60.5502,1018.723158,712.1044,...,220.962700,0.0000,16.298700,C,C,C,C,C,C,C
2,3,105526,Dolat Algotech Ltd.,1.2100,0.0000,-2.8730,17.6000,17.6000,1232.000000,265.0150,...,0.752611,0.0000,161.832272,C,C,C,C,C,C,C
3,4,132309,GE Power India Ltd.,440.8900,0.0000,622.1100,67.2300,67.2300,1924.794900,3343.0200,...,448.560000,0.0000,556.080000,C,C,C,C,C,C,C
4,5,100147,John Cockerill India Ltd,83.7514,0.0000,89.6753,4.9378,4.9378,768.766082,382.7844,...,81.701500,0.0000,112.761500,S,S,S,S,S,S,S

In [32]:
df2 =pd.read_excel("C:/Users/meets/AVENTUS_FACTOR-MODEL/TRENDLYNE_230425.xlsx")
df2.head()

,Stock Name,NSE Code,BSE Code,Stock Code,ISIN,Industry Name,Current Price,Current Price.1,Market Capitalization,PE TTM Price to Earnings,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,20 Microns Ltd.,20MICRONS,533022.0,20MICRONS,INE144J01027,Coal & Mining,227.25,227.25,801.89,13.19,...,23.96,38.63,9.50,10.88,17.60,7.0,Metals & Mining,Coal & Mining,2024-12-31,2025-01-22
1,360 ONE Gold ETF,GOLD360,544375.0,GOLD360,INF579M01BB5,Others,95.45,95.45,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
2,360 ONE Silver ETF,SILVER360,544389.0,SILVER360,INF579M01BC3,Others,99.20,99.20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
3,360 One Wam Ltd.,360ONE,542772.0,360ONE,INE466L01038,Capital Markets,1057.00,1057.00,41613.87,41.27,...,17.25,23.88,5.31,2.86,8.70,3.0,Banking and Finance,Capital Markets,2024-12-31,2025-04-23
4,3B BlackBio Dx Ltd.,NaN,532067.0,3BBLACKBIO,INE994E01018,Agrochemicals,1784.05,1784.05,1531.20,31.87,...,14.53,17.06,12.93,9.90,12.59,7.0,Chemicals & Petrochemicals,Agrochemicals,2024-12-31,2025-02-13

In [33]:
merged_df = pd.merge(df1, df2, how='inner', left_on='Company Name', right_on='Stock Name')
merged_df.head()

,Sr.No.,Accord Code,Company Name,Gross_Plus_CWIP,long term borrowing,Working Capital,BS_Share Capital,BS_Share Capital1,FH_Market Capitalization,PL_Net Sales,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,1,117421,Butterfly Gandhimathi Appliances Ltd.,223.6650,11.5541,60.8537,17.8796,17.8796,993.479974,869.6381,...,20.72,12.55,1.37,10.69,6.83,5.0,Consumer Durables,Household Appliances,2024-12-31,2025-02-10
1,3,105526,Dolat Algotech Ltd.,1.2100,0.0000,-2.8730,17.6000,17.6000,1232.000000,265.0150,...,17.25,23.88,16.81,2.86,8.70,7.0,Banking and Finance,Capital Markets,2024-12-31,2025-02-11
2,4,132309,GE Power India Ltd.,440.8900,0.0000,622.1100,67.2300,67.2300,1924.794900,3343.0200,...,21.36,22.24,-6.63,11.85,14.76,4.0,General Industrials,Heavy Electrical Equipment,2024-12-31,2025-02-12
3,6,220053,KIOCL Ltd.,444.9795,0.0000,1831.5744,607.7511,621.9256,8730.344552,2376.4420,...,23.96,13.77,-3.41,10.88,6.59,4.0,Metals & Mining,Iron & Steel/Interm.Products,2024-12-31,2025-02-13
4,7,120059,Munjal Auto Industries Ltd.,410.0334,79.2171,111.2781,20.0000,20.0000,538.000000,2122.6392,...,22.10,17.48,3.16,10.64,9.23,7.0,Automobiles & Auto Components,Auto Parts & Equipment,2024-12-31,2025-02-14

In [34]:
df = pd.read_csv("FY3-CLOSE.csv")
final_merged = pd.merge(df, merged_df, how='inner', left_on='Stock', right_on='Stock Code')
# final_merged.to_csv("gptdemo.csv")
final_merged.head()

,Stock,2009-04-01,2012-04-02,2015-04-01,2018-04-02,2021-04-01,2024-04-01,Sr.No.,Accord Code,Company Name,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,BUTTERFLY,NaN,NaN,192.35,504.55,550.50,793.80,1,117421,Butterfly Gandhimathi Appliances Ltd.,...,20.72,12.55,1.37,10.69,6.83,5.0,Consumer Durables,Household Appliances,2024-12-31,2025-02-10
1,DOLATALGO,NaN,NaN,NaN,NaN,70.65,74.65,3,105526,Dolat Algotech Ltd.,...,17.25,23.88,16.81,2.86,8.70,7.0,Banking and Finance,Capital Markets,2024-12-31,2025-02-11
2,GEPIL,282.2,361.45,734.80,959.70,286.05,286.60,4,132309,GE Power India Ltd.,...,21.36,22.24,-6.63,11.85,14.76,4.0,General Industrials,Heavy Electrical Equipment,2024-12-31,2025-02-12
3,KIOCL,NaN,NaN,NaN,225.05,150.55,411.25,6,220053,KIOCL Ltd.,...,23.96,13.77,-3.41,10.88,6.59,4.0,Metals & Mining,Iron & Steel/Interm.Products,2024-12-31,2025-02-13
4,MUNJALAU,NaN,25.40,37.00,75.15,55.30,82.90,7,120059,Munjal Auto Industries Ltd.,...,22.10,17.48,3.16,10.64,9.23,7.0,Automobiles & Auto Components,Auto Parts & Equipment,2024-12-31,2025-02-14

In [35]:
final_merged["Percent_Change_(MD4)"] = ((final_merged["2024-04-01"] - final_merged["2021-04-01"]) / final_merged["2021-04-01"]) * 100
final_merged = final_merged.dropna(subset=["Percent_Change_(MD4)"])

import numpy as np

# Define a function to calculate CAGR
def calculate_cagr(start_value, end_value, periods):
    return ((end_value / start_value) ** (1 / periods) - 1) * 100

# Number of years between 2009-04-01 and 2012-04-02
years = 3

# Calculate CAGR and add to dataframe
final_merged["CAGR (MD4)"] = calculate_cagr(final_merged["2021-04-01"], final_merged["2024-04-01"], years)



final_merged[["Stock",  "2009-04-01","2012-04-02", "Percent_Change_(MD4)", "CAGR (MD4)"]].head(56)
# final_merged.head()

        Stock  2009-04-01  2012-04-02  Percent_Change_(MD4)  CAGR (MD4)
0   BUTTERFLY         NaN         NaN             44.196185   12.975583
1   DOLATALGO         NaN         NaN              5.661713    1.852701
2       GEPIL       282.2      361.45              0.192274    0.064050
3       KIOCL         NaN         NaN            173.165061   39.789661
4    MUNJALAU         NaN       25.40             49.909584   14.448420
5  RAJESHEXPO        27.2      130.85            -41.301919  -16.271245
6  SHARDAMOTR         NaN         NaN            247.587417   51.479786
7  SHAREINDIA         NaN         NaN            484.181314   80.100902
8       SPARC        50.9       76.90            149.096880   35.557254

In [36]:
final_merged["Percent_Change_(MD4)"].mean()

123.63205654371647

In [37]:
final_merged["CAGR (MD4)"].mean()

24.444123350776177