In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("Plain Vanilla L15.xlsx")
df1.tail()

,Sr.No.,Accord Code,Company Name,Gross_Plus_CWIP,long term borrowing,Working Capital,BS_Share Capital,BS_Share Capital1,FH_Market Capitalization,PL_Net Sales,...,Gross_Plus_CWIP1,long term borrowing1,Working Capital1,CGross_Plus_CWIP_CONS,Clong term borrowing_CONS,CWorking Capital_CONS,CONS_BS_2,CONS_FH_1,CONS_PL_1,CONS_PL_2
17,18,132209,The Jammu & Kashmir Bank Ltd.,521.0238,0.0000,0.0000,48.4922,48.4922,1506.932413,2971.6970,...,481.1007,0.0000,0.000,C,C,C,C,C,C,C
18,19,132652,The Karnataka Bank Ltd.,292.4073,0.0000,0.0000,121.5847,121.3533,792.668348,1948.7583,...,261.6533,0.0000,0.000,S,S,S,S,S,S,S
19,20,100114,Titan Company Ltd.,625.3716,166.5793,442.0775,44.3893,44.3893,3461.921507,3832.6389,...,583.1278,210.2793,391.234,C,C,C,C,C,C,C
20,21,132477,Union Bank Of India,3274.4438,0.0000,0.0000,505.1179,505.1179,7437.861077,11889.3787,...,3011.9769,0.0000,0.000,S,S,S,S,S,S,S
21,22,132648,Yes Bank Ltd.,195.2683,0.0000,0.0000,296.9789,295.7898,1481.924711,2001.4348,...,136.9024,0.0000,0.000,S,S,S,S,S,S,S

In [3]:
#LOWER THE BETTER SO * -1 
mean_value = df1['Incremental CAPEX'].mean()
std_dev = df1['Incremental CAPEX'].std()
df1['ZSCORE_CAPEX'] = ((df1['Incremental CAPEX']-mean_value) / std_dev) * (-1)


#LOWER THE BETTER SO * -1
mean_value = df1['Incremental WC'].mean()
std_dev = df1['Incremental WC'].std()
df1['ZSCORE_WC'] = (df1['Incremental WC']-mean_value) / std_dev * (-1)


mean_value = df1['Sales Growth'].mean()
std_dev = df1['Sales Growth'].std()
df1['ZSCORE_SALES'] = (df1['Sales Growth']-mean_value) / std_dev


mean_value = df1['FH_Market Capitalization'].mean()
std_dev = df1['FH_Market Capitalization'].std()
df1['ZSCORE_MCAP'] = (df1['FH_Market Capitalization']-mean_value) / std_dev


df1.head()

,Sr.No.,Accord Code,Company Name,Gross_Plus_CWIP,long term borrowing,Working Capital,BS_Share Capital,BS_Share Capital1,FH_Market Capitalization,PL_Net Sales,...,Clong term borrowing_CONS,CWorking Capital_CONS,CONS_BS_2,CONS_FH_1,CONS_PL_1,CONS_PL_2,ZSCORE_CAPEX,ZSCORE_WC,ZSCORE_SALES,ZSCORE_MCAP
0,1,132215,Axis Bank Ltd.,1811.6939,0.0,0.0,359.0051,357.7097,14880.761395,10829.1132,...,C,C,C,C,C,C,-0.593267,-0.428414,0.962652,1.941831
1,2,132134,Bank Of Baroda,4268.8964,0.0,0.0,365.5277,365.5277,8543.870758,15547.5610,...,C,C,C,C,C,C,-0.198599,-0.428414,-0.567797,0.708611
2,3,132149,Bank Of India,3731.4704,0.0,0.0,525.9146,525.9146,11548.604847,16416.5115,...,C,C,C,C,C,C,-0.317297,-0.428414,-0.300669,1.293361
3,4,132483,Canara Bank,4557.4073,0.0,0.0,410.0000,410.0000,6801.900000,17128.5625,...,C,C,C,C,C,C,-0.759276,-0.428414,-0.991956,0.369607
4,5,132885,Central Bank Of India,3189.1112,0.0,0.0,1321.1415,1204.1415,1372.060393,10471.5562,...,C,C,C,C,C,C,0.262630,-0.428414,-0.403990,-0.687092

In [4]:
df2 = pd.read_excel("TRENDLYNE_230425.xlsx")
df2.head()

,Stock Name,NSE Code,BSE Code,Stock Code,ISIN,Industry Name,Current Price,Current Price.1,Market Capitalization,PE TTM Price to Earnings,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,20 Microns Ltd.,20MICRONS,533022.0,20MICRONS,INE144J01027,Coal & Mining,227.25,227.25,801.89,13.19,...,23.96,38.63,9.50,10.88,17.60,7.0,Metals & Mining,Coal & Mining,2024-12-31,2025-01-22
1,360 ONE Gold ETF,GOLD360,544375.0,GOLD360,INF579M01BB5,Others,95.45,95.45,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
2,360 ONE Silver ETF,SILVER360,544389.0,SILVER360,INF579M01BC3,Others,99.20,99.20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
3,360 One Wam Ltd.,360ONE,542772.0,360ONE,INE466L01038,Capital Markets,1057.00,1057.00,41613.87,41.27,...,17.25,23.88,5.31,2.86,8.70,3.0,Banking and Finance,Capital Markets,2024-12-31,2025-04-23
4,3B BlackBio Dx Ltd.,NaN,532067.0,3BBLACKBIO,INE994E01018,Agrochemicals,1784.05,1784.05,1531.20,31.87,...,14.53,17.06,12.93,9.90,12.59,7.0,Chemicals & Petrochemicals,Agrochemicals,2024-12-31,2025-02-13

In [5]:
merged_df = pd.merge(df1, df2, how='inner', left_on='Company Name', right_on='Stock Name')
merged_df.head()

,Sr.No.,Accord Code,Company Name,Gross_Plus_CWIP,long term borrowing,Working Capital,BS_Share Capital,BS_Share Capital1,FH_Market Capitalization,PL_Net Sales,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,1,132215,Axis Bank Ltd.,1811.693900,0.000000,0.000000,359.005100,357.709700,14880.761395,10829.113200,...,17.25,14.67,1.73,2.86,1.52,5.0,Banking and Finance,Banks,2024-12-31,2025-04-24
1,4,132483,Canara Bank,4557.407300,0.000000,0.000000,410.000000,410.000000,6801.900000,17128.562500,...,17.25,14.67,0.99,2.86,1.52,6.0,Banking and Finance,Banks,2024-12-31,2025-01-27
2,7,100116,IDBI Bank Ltd.,4014.102700,0.000000,0.000000,724.781400,724.763800,3290.507556,11638.409200,...,17.25,14.67,1.58,2.86,1.52,4.0,Banking and Finance,Banks,2024-12-31,2025-01-20
3,8,200025,ISGEC Heavy Engineering Ltd.,600.331600,191.186100,224.729800,7.369500,7.369500,583.959180,2111.129300,...,21.36,20.04,3.10,11.85,12.40,7.0,General Industrials,Industrial Machinery,2024-12-31,2025-02-10
4,9,111034,Jindal Drilling & Industries Ltd.,127.867039,39.503558,176.036001,11.465552,11.465552,780.116158,777.828743,...,13.50,14.29,2.44,5.84,6.93,4.0,Oil & Gas,Exploration & Production,2024-12-31,2025-01-27

In [6]:
df3 = pd.read_excel("C:/Users/meets/AVENTUS_FACTOR-MODEL/SIMPLE STRATEGY/L15 Valuation Data.xlsx")

final_merged_df = pd.merge(merged_df, df3, how='inner', left_on='Company Name', right_on='Company Name')
final_merged_df.head()

mean_value = final_merged_df['FR_Adjusted PE (x)'].mean()
std_dev = final_merged_df['FR_Adjusted PE (x)'].std()
final_merged_df['ZSCORE_PE'] = (final_merged_df['FR_Adjusted PE (x)']-mean_value) / std_dev

mean_value = final_merged_df['FR_EV/EBITDA(x)'].mean()
std_dev = final_merged_df['FR_EV/EBITDA(x)'].std()
final_merged_df['ZSCORE_EVEBITDA'] = (final_merged_df['FR_EV/EBITDA(x)']-mean_value) / std_dev

final_merged_df['ZSCORE_FINAL'] = ((1/5) * final_merged_df['ZSCORE_CAPEX']) + ((1/5) * final_merged_df['ZSCORE_WC']) + ((1/5) * final_merged_df['ZSCORE_SALES']) + (0.2 * final_merged_df['ZSCORE_MCAP']) + (0.1 * final_merged_df['ZSCORE_PE']) + (0.1 * final_merged_df['ZSCORE_EVEBITDA'])
# final_merged_df['ZSCORE_FINAL'] = (1 * final_merged_df['ZSCORE_CAPEX'])



final_merged_df = final_merged_df[final_merged_df["ZSCORE_FINAL"]>0]

# final_merged_df['PORTFOLIO_WEIGHTS'] = final_merged_df["ZSCORE_FINAL"]/final_merged_df["ZSCORE_FINAL"].sum()

column_list = final_merged_df['Stock Code'].tolist()
# print(column_list)

final_merged_df.head()

final_merged_df.to_csv("rahul_s3l15.csv")

In [ ]:
df = pd.read_csv("C:/Users/meets/AVENTUS_FACTOR-MODEL/SIMPLE STRATEGY/mega_dateclose_final.csv")
columns_to_keep = ['Date'] + [col for col in column_list if col in df.columns]
filtered_with_date_df = df[columns_to_keep]


filtered_with_date_df['Date'] = pd.to_datetime(filtered_with_date_df['Date'])
start_date = pd.to_datetime("2009-03-31")
end_date = pd.to_datetime("2012-04-02")
filtered_df = filtered_with_date_df[(filtered_with_date_df['Date'] >= start_date) & (filtered_with_date_df['Date'] <= end_date)]
filtered_df.head()


df_cleaned = filtered_df.dropna(how='all', subset=filtered_df.columns.difference(['Date']))
rows_removed = len(filtered_df) - len(df_cleaned)
# print("ROWS REMOVED i.e. ALL VALUES MISSING EXCEPT DATE:", rows_removed)
df_cleaned.head()


df_fully_cleaned = df_cleaned.dropna(axis=1)
final_columns = df_fully_cleaned.columns.tolist()
if 'Date' in final_columns:
    final_columns.remove('Date')
print(final_columns)
df_fully_cleaned.head()


df_fully_cleaned['Date'] = pd.to_datetime(df_fully_cleaned['Date'])
df_fully_cleaned.set_index('Date', inplace=True)
pct_change_df = df_fully_cleaned.pct_change() 
pct_change_df = pct_change_df.iloc[1:] 
pct_change_df.head()
# pct_change_df.to_csv("gptwork.csv",index=False)



pct_change_df = pct_change_df.reset_index()  # This moves 'Date' from index to a regular column
pct_change_df.head()
# pct_change_df.to_csv("data1.csv",index=False)





# pct_change_df.to_csv("deletenow.csv",index=False)
# nan_counts = pct_change_df.isna().sum()
# print(nan_counts)
# columns_without_nans = df.columns[df.isna().sum() == 0].tolist()
# print(columns_without_nans)

# pct_change_df.dropna

In [ ]:
# PORTFOLIO WT CALCULATION

final_df = final_merged_df[final_merged_df['Stock Code'].isin([name.upper() for name in final_columns])]
final_df.head()

final_df['PORTFOLIO_WEIGHTS'] = final_df["ZSCORE_FINAL"]/final_df["ZSCORE_FINAL"].sum()
final_df.head()

final_df = final_df[["Stock Code","PORTFOLIO_WEIGHTS"]]
final_df.head(20)
# final_df.to_csv("data2.csv",index=False)

In [ ]:
#DIRECT COPYPASTE - NO EDIT


# Align columns: ensure weights match the columns in the return dataframe
returns_df = pct_change_df.copy()
weights_df = final_df.set_index("Stock Code")["PORTFOLIO_WEIGHTS"]

# Ensure only common stocks are used
common_stocks = returns_df.columns.intersection(weights_df.index)
returns_matrix = returns_df[common_stocks].copy()
weights_vector = weights_df.loc[common_stocks]

# Perform matrix multiplication (dot product) for each date
returns_df["Portfolio Return"] = returns_matrix.dot(weights_vector)

# Show a few results
final_portfolio = returns_df[["Date", "Portfolio Return"]]
final_portfolio.info()

In [ ]:
#DIRECT COPYPASTE - NO EDIT

df2 = pd.read_csv("C:/Users/meets/AVENTUS_FACTOR-MODEL/SIMPLE STRATEGY/BENCHMARK/BSE500_PCTRETURNS_09-25.csv")
df2['BDP_Date'] = pd.to_datetime(df2['BDP_Date'])

final_portfolio_benchmark = pd.merge(final_portfolio, df2, how='inner', left_on='Date', right_on='BDP_Date')
final_portfolio_benchmark = final_portfolio_benchmark.drop('BDP_Date', axis=1)
final_portfolio_benchmark.set_index('Date', inplace=True)
final_portfolio_benchmark = final_portfolio_benchmark.rename(columns={'Portfolio Return':'Strategy'})
final_portfolio_benchmark.head()
final_portfolio_benchmark.to_csv("s3l15b.csv")
# final_portfolio_benchmark.to_csv("final_portfolio_benchmarkQ.csv")

In [ ]:
import quantstats as qs

final_portfolio_benchmark.index = pd.to_datetime(final_portfolio_benchmark.index)

qs.reports.full(final_portfolio_benchmark['Strategy'],benchmark = final_portfolio_benchmark['BDP_Close'],mode="full")