In [1]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import os

# Folder containing your CSV files
folder_path = "C:/Users/meets/nse-benny/eod2/src/eod2_data/daily"  # <-- Change this to your actual folder path

# Target dates to look for
target_dates = pd.to_datetime([
    '2009-04-01', '2012-04-02', '2015-04-01',
    '2018-04-02', '2021-04-01', '2024-04-01'
])

# Initialize list to store results
summary_data = []

# Loop through all CSV files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)
        try:
            df = pd.read_csv(file_path)
            df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
            df = df[df['Date'].isin(target_dates)]
            for date in target_dates:
                row = df[df['Date'] == date]
                close_price = row['Close'].values[0] if not row.empty else None
                summary_data.append({
                    'Stock': filename,
                    'Date': date.strftime('%Y-%m-%d'),
                    'Close': close_price
                })
        except Exception as e:
            print(f"Error processing {filename}: {e}")

summary_df = pd.DataFrame(summary_data)

pivot_df = summary_df.pivot(index='Stock', columns='Date', values='Close')

print(pivot_df)

# pivot_df.to_csv("close_prices_summary.csv")  # Uncomment to save to CSV

Date            2009-04-01  2012-04-02  2015-04-01  2018-04-02  2021-04-01  \
Stock
20microns.csv         7.60       41.90       37.35       49.75       35.40
21stcenmgm.csv         NaN         NaN         NaN       35.40       13.70
360one.csv             NaN         NaN         NaN         NaN      327.25
3iinfoltd.csv          NaN         NaN         NaN         NaN         NaN
3mindia.csv         870.45     3761.25     7879.60    19973.90    29602.95
...                    ...         ...         ...         ...         ...
ztech_sme.csv          NaN         NaN         NaN         NaN         NaN
zuari.csv              NaN         NaN      252.10      495.60       91.30
zuariind.csv        143.50      498.30      100.65      176.70       83.60
zyduslife.csv        36.55      150.05      358.05      385.05      441.80
zyduswell.csv          NaN      399.80     1021.10     1215.45     1985.00

Date            2024-04-01
Stock
20microns.csv        144.4
21stcenmgm.csv        42.4
360one.csv           696.8
3iinfoltd.csv         42.9
3mindia.csv        30533.2
...                    ...
ztech_sme.csv          NaN
zuari.csv            184.3
zuariind.csv         336.5
zyduslife.csv        999.8
zyduswell.csv       1506.8

[2963 rows x 6 columns]

In [ ]:
df=pd.read_csv("close_prices_summary.csv")
df['Stock'] = df['Stock'].str.replace('.csv', '', case=False).str.upper()
# df.to_csv("FY3-CLOSE.csv",index=False)

In [110]:
df1 = pd.read_excel("CAPEX L3.xlsx")
df1.head()

,Sr.No.,Accord Code,Company Name,GB+CWIP_1Y_CAGR,GB+CWIP_2Y_CAGR,GB+CWIP_3y_CAGR,FH_Market Capitalization,CONS_FH_1
0,1,210591,Aditya Birla Fashion and Retail Ltd.,22.883624,55.072987,36.104804,18415.381250,C
1,2,229238,Affle 3i Ltd.,88.073194,95.067489,167.139831,13916.099240,C
2,3,277374,Antony Waste Handling Cell Ltd.,8.028956,26.774495,76.555034,689.924808,C
3,4,127001,Ashapura Minechem Ltd.,11.370134,75.013593,37.243847,906.394120,C
4,5,243036,Authum Investment & Infrastructure Ltd.,70.157068,30.444267,40.306080,534.049437,S

In [111]:
df2 =pd.read_excel("C:/Users/meets/AVENTUS_FACTOR-MODEL/TRENDLYNE_230425.xlsx")
df2.head()

,Stock Name,NSE Code,BSE Code,Stock Code,ISIN,Industry Name,Current Price,Current Price.1,Market Capitalization,PE TTM Price to Earnings,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,20 Microns Ltd.,20MICRONS,533022.0,20MICRONS,INE144J01027,Coal & Mining,227.25,227.25,801.89,13.19,...,23.96,38.63,9.50,10.88,17.60,7.0,Metals & Mining,Coal & Mining,2024-12-31,2025-01-22
1,360 ONE Gold ETF,GOLD360,544375.0,GOLD360,INF579M01BB5,Others,95.45,95.45,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
2,360 ONE Silver ETF,SILVER360,544389.0,SILVER360,INF579M01BC3,Others,99.20,99.20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
3,360 One Wam Ltd.,360ONE,542772.0,360ONE,INE466L01038,Capital Markets,1057.00,1057.00,41613.87,41.27,...,17.25,23.88,5.31,2.86,8.70,3.0,Banking and Finance,Capital Markets,2024-12-31,2025-04-23
4,3B BlackBio Dx Ltd.,NaN,532067.0,3BBLACKBIO,INE994E01018,Agrochemicals,1784.05,1784.05,1531.20,31.87,...,14.53,17.06,12.93,9.90,12.59,7.0,Chemicals & Petrochemicals,Agrochemicals,2024-12-31,2025-02-13

In [112]:
merged_df = pd.merge(df1, df2, how='inner', left_on='Company Name', right_on='Stock Name')
merged_df.head()

,Sr.No.,Accord Code,Company Name,GB+CWIP_1Y_CAGR,GB+CWIP_2Y_CAGR,GB+CWIP_3y_CAGR,FH_Market Capitalization,CONS_FH_1,Stock Name,NSE Code,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,1,210591,Aditya Birla Fashion and Retail Ltd.,22.883624,55.072987,36.104804,18415.381250,C,Aditya Birla Fashion and Retail Ltd.,ABFRL,...,12.88,21.08,-2.80,9.05,14.12,2.0,Retailing,Department Stores,2024-12-31,2025-02-14
1,3,277374,Antony Waste Handling Cell Ltd.,8.028956,26.774495,76.555034,689.924808,C,Antony Waste Handling Cell Ltd.,AWHCL,...,19.18,17.20,5.89,7.09,12.34,5.0,Utilities,Waste Management,2024-12-31,2025-02-14
2,4,127001,Ashapura Minechem Ltd.,11.370134,75.013593,37.243847,906.394120,C,Ashapura Minechem Ltd.,ASHAPURMIN,...,23.96,38.63,8.66,10.88,17.60,6.0,Metals & Mining,Coal & Mining,2024-12-31,2025-02-14
3,5,243036,Authum Investment & Infrastructure Ltd.,70.157068,30.444267,40.306080,534.049437,S,Authum Investment & Infrastructure Ltd.,NaN,...,17.25,15.84,36.87,2.86,4.26,6.0,Banking and Finance,Finance (including NBFCs),2024-12-31,2025-01-15
4,6,226691,Balaxi Pharmaceuticals Ltd.,1372.975871,1459.186309,562.674110,524.500000,C,Balaxi Pharmaceuticals Ltd.,BALAXI,...,16.90,17.11,-0.92,11.67,11.81,3.0,Pharmaceuticals & Biotechnology,Pharmaceuticals,2024-12-31,2025-02-10

In [113]:
df = pd.read_csv("FY3-CLOSE.csv")
final_merged = pd.merge(df, merged_df, how='inner', left_on='Stock', right_on='Stock Code')
# final_merged.to_csv("gptdemo.csv")
final_merged.head()

,Stock,2009-04-01,2012-04-02,2015-04-01,2018-04-02,2021-04-01,2024-04-01,Sr.No.,Accord Code,Company Name,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,ABFRL,NaN,NaN,114.70,147.65,198.95,211.65,1,210591,Aditya Birla Fashion and Retail Ltd.,...,12.88,21.08,-2.80,9.05,14.12,2.0,Retailing,Department Stores,2024-12-31,2025-02-14
1,AIIL,NaN,NaN,NaN,NaN,NaN,NaN,5,243036,Authum Investment & Infrastructure Ltd.,...,17.25,15.84,36.87,2.86,4.26,6.0,Banking and Finance,Finance (including NBFCs),2024-12-31,2025-01-15
2,ASHAPURMIN,25.7,9.1,74.05,71.10,106.50,381.75,4,127001,Ashapura Minechem Ltd.,...,23.96,38.63,8.66,10.88,17.60,6.0,Metals & Mining,Coal & Mining,2024-12-31,2025-02-14
3,AWHCL,NaN,NaN,NaN,NaN,252.80,490.95,3,277374,Antony Waste Handling Cell Ltd.,...,19.18,17.20,5.89,7.09,12.34,5.0,Utilities,Waste Management,2024-12-31,2025-02-14
4,BALAXI,NaN,NaN,NaN,NaN,110.15,108.60,6,226691,Balaxi Pharmaceuticals Ltd.,...,16.90,17.11,-0.92,11.67,11.81,3.0,Pharmaceuticals & Biotechnology,Pharmaceuticals,2024-12-31,2025-02-10

In [115]:
final_merged["Percent_Change_(MD4)"] = ((final_merged["2024-04-01"] - final_merged["2021-04-01"]) / final_merged["2021-04-01"]) * 100
final_merged = final_merged.dropna(subset=["Percent_Change_(MD4)"])

import numpy as np

# Define a function to calculate CAGR
def calculate_cagr(start_value, end_value, periods):
    return ((end_value / start_value) ** (1 / periods) - 1) * 100

# Number of years between 2009-04-01 and 2012-04-02
years = 3

# Calculate CAGR and add to dataframe
final_merged["CAGR (MD4)"] = calculate_cagr(final_merged["2021-04-01"], final_merged["2024-04-01"], years)



final_merged[["Stock",  "2021-04-01","2024-04-01", "Percent_Change_(MD4)", "CAGR (MD4)"]].head(56)
# final_merged.head()

         Stock  2021-04-01  2024-04-01  Percent_Change_(MD4)  CAGR (MD4)
0        ABFRL      198.95      211.65              6.383513    2.084101
2   ASHAPURMIN      106.50      381.75            258.450704   53.041711
3        AWHCL      252.80      490.95             94.204905   24.763265
4       BALAXI      110.15      108.60             -1.407172   -0.471275
6    BATAINDIA     1425.05     1369.20             -3.919161   -1.323835
7         BBOX      271.10      235.10            -13.279233   -4.638215
9     BLUEDART     5591.20     6140.75              9.828838    3.174442
10    CANTABIL       75.80      216.20            185.224274   41.817174
11  COCHINSHIP      189.20      968.30            411.786469   72.330812
12   CREDITACC      666.90     1408.70            111.231069   28.307664
13   DOLATALGO       70.65       74.65              5.661713    1.852701
14         FCL       67.20      372.00            453.571429   76.898665
15   GICHSGFIN      122.10      212.55             74.078624   20.295251
16  HAPPSTMNDS      594.55      796.50             33.966866   10.238289
17     HLEGLAS      480.20      433.80             -9.662641   -3.330576
18      HNDFDS      425.90      502.20             17.915004    5.646802
19    INDOSTAR      317.15      199.85            -36.985653  -14.267304
20       IRCON       44.95      227.20            405.450501   71.616699
21         JWL       15.30      380.80           2388.888889  191.967943
22  KOLTEPATIL      236.75      477.40            101.647307   26.337072
23      MAHLOG      574.75      426.30            -25.828621   -9.479811
25      MPSLTD      539.70     1541.85            185.686492   41.893740
26  MUTHOOTCAP      378.15      287.40            -23.998413   -8.741312
27      NEOGEN      863.90     1236.15             43.089478   12.685811
28      NURECA      601.50      278.05            -53.773899  -22.679304
29     OLECTRA      219.45     1914.95            772.613352  105.876741
30     PAISALO       39.05       65.40             67.477593   18.755091
31   RESPONIND      182.10      297.75             63.509061   17.809580
32        RHIM      237.40      575.40            142.375737   34.326917
33     ROSSARI     1073.60      699.90            -34.808122  -13.290936
35         SFL      994.10      949.85             -4.451262   -1.506331
36  SHAREINDIA       54.05      315.75            484.181314   80.100902
38  SHOPERSTOP      215.60      778.30            260.992579   53.402613
39  SWANENERGY      137.05      674.35            392.046698   70.086081
40   TASTYBITE    14416.45    12315.35            -14.574323   -5.115310
41      VIPIND      354.45      532.50             50.232755   14.530602
42       VMART     2808.45     2171.90            -22.665527   -8.210914
43     WELCORP      147.30      551.75            274.575696   55.303007
44   ZYDUSWELL     1985.00     1506.80            -24.090680   -8.778257

In [117]:
final_merged["Percent_Change_(MD4)"].mean()

180.14426030394674

In [118]:
final_merged["CAGR (MD4)"].mean()

26.495135776621826